<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><title></title>

    <link rel="stylesheet" href="public/style.css">
</head>

<body>

<a href="/elements">Show all elements</a>
<p>To select a single element, go to /elements/identifier/value.</p>
<p>identifier can be: A, name or symbol.</p>
<p>Example:</p>
<a href="/elements/A/8">/elements/A/8</a>
<p>To select random element, go to <a href="/elements/random">/elements/random</a></p>

</body>
</html>